<form action="submitReview" method="post">
Name: <input type="text" name="name"><br>
Review: <textarea class="reviewBody" name="body" rows="4" cols="50"> 
</textarea><br>
<input type="submit">
</form>