    {{#each Location}}
    
    <div class="row info">
        <div class="col-sm-8">
            <div class="card">
              <div class="card-title">
                <h2 class="location">{{name}}</h2>
              </div>
                <div class="card-body">
                  <p class="card-text">{{description}}</p>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
          <img src="" alt="Insert Image Here">
        </div>
      </div>


  {{/each}}