.jumbotron {
	background-image: url("../img/cleve.jpg");
	background-attachment: fixed;
	background-size: contain;
}

p {
	font-family: 'Hind', sans-serif;
}

h1 {
	font-family: 'Limelight', cursive;
}

.aboutUs{
	font-size: 90%;
	padding: 5px;
}